// Variables
$spacer: 10px;


// Colors
$primary: blue;
$secondary: brown;
$success: green;
$info: lightblue;
$warning: orange;
$danger: #af160e;
$light: white;
$dark: #48494d;

// Background
$background-color: $light;
$text-color: $dark;
