@import "bootstrap/scss/bootstrap";
@import "./variables";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: $text-color;
}

body {
  background: $background-color;
}

.container {
  max-width: 1296px;
  min-height: calc(100vh - 200px - 100px);
}

// next-link navigation

a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;

  color: $text-color;
  transition: ease-in-out 0.3s;

  &:hover {
    color: $disabled-color;
    transition: ease-in-out 0.3s;
  }
}
